version: "3.9"

services:
  api:
    image: node:20
    working_dir: /workspace
    volumes:
      - ..:/workspace
    command: npm run api:dev
    env_file:
      - ../.env
    ports:
      - "4000:4000"

  worker:
    image: node:20
    working_dir: /workspace
    volumes:
      - ..:/workspace
    command: npm run worker:dev
    env_file:
      - ../.env
